*{
    font-family: Arial;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

header img{
    width: 50%;    
}

#pesquisa{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#pesquisa-jogador{
    color: black;
}

.cardJogador{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 25px;

}

.cardJogador img{
    margin: 5px;
    border-radius: 25px;
}

.cardJogador:hover{
    cursor: pointer;
    box-shadow: 0 0 15px 0 grey;
}

@media screen and (min-width: 700px){
    .caixa{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }

}

@media screen and (max-width: 1500px){
    .caixa{
        align-items: center;
        justify-content: center;
    }
}
